
@{
    ViewData["Title"] = "View";
}


<h2 style="text-align:center">MILF COMMANDERS PAYROLL SYSTEM</h2>

<div class="container">
    <form>
        <p> username: <input type="text" class="form-control" style="width:25%" /> </p>
        <p> password: <input type="password" class="form-control" style="width:25%" /> </p>

        <button type="submit"> Log In </button>
    </form>
</div>
